@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); 
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
  }

body { 
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: center;
  min-height: 100vh; 
  overflow: hidden;
  background-color: #E3EBF8;
}

.menu-button {
  background-color: #E3EBF8;
  color: black;
  opacity: 0.8;
  text-decoration: none; 
  font-size: 3em; 
  /* padding: 5px 20px;  */
  display: inline-block; 
  font-weight: 700; 
  transition: 0.5s; 

  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

#main-menu ul {
  position: relative;
} 

#main-menu ul li { 
  list-style: none; 
  text-align: center;
}

.main-title{
  font-size: 150px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.standalone-button {
  background-color: #E3EBF8;
  color: black;
  text-decoration: none; 
  font-size: 3em;
  display: inline-block; 
  font-weight: 700; 
  transition: 0.5s; 

  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  margin: 0 0 20px 0;
}

.standalone-button:hover {
  color: #777;
  background-color: #E3EBF8;
}

#back-button {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 2.0rem;
}

#join-button {
  font-size: 1.4rem;
  padding: 10px 10px 10px 10px;
  background: #bbb;
  border: 0 none;
  cursor: pointer;
  border-radius: 6px;
}

.room-code-container {
  margin: 20px auto;
}

.room-form input[type=text] {
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 5px;
  border-radius: 6px;
  width: 75%;
  height: 50px;
  text-align: center;
}

.room-form input[type=submit] {
  font-size: 1.5rem;
  padding: 10px 10px 10px 10px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  border-radius: 6px;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}



.game-root.game-canvas {
  background-color: black;
}